@import "~bulma/sass/utilities/initial-variables"

// Config vars
$r6ru-color: #363636
$r6ru-color-invert: #d52b1e
$r6ru-flag: linear-gradient(to bottom, white 33.3%, #0039a6 33.3% 66.6%, #d52b1e 66.6% 100%)

$bg: #222
$bg-navbar: $r6ru-color

$primary: $cyan
// $primary-invert: $r6ru-color-invert
// $body-color: #333
// $black: #1f1c1b
$background: $r6ru-color
$text: white
$link-hover: #ccc